*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    background-color: lightblue;
}
/* .hero{
    height: 100vh;
    width: 100%;
    background-image: url(E:/Html/Hospital/new/images/stethos.jpg);
    background-size: cover; 
    background-position: center;
    
    
} */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
}
.logo{
    color: black;
    font-size: 28px;

}
span{
    color: rgb(255, 0, 162);
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}
nav ul li a{
    color: black;
    text-decoration: none;
    font-weight: bold;

}
nav ul li a:hover{
    color: rgb(255, 0, 162); 
    transition: .2s;
}
button{
    border: none;
    background: rgb(255, 0, 162);
    padding: 12px 30px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
}
button:hover{
    transform: scale(1.1);
    cursor: pointer;
    background: white;
    color: rgb(255, 0, 162);
}

.card1{
    left: 0;
    bottom: 0;
    padding: 14px;
    margin: 45px auto;
    border: 3px solid #000000;
    border-radius: 5px;
    max-width: 500px;
    background-color: lightblue;
}
.card2{
    left: 0;
    bottom: 0;
    padding: 14px;
    margin: 45px auto;
    border: 3px solid #000000;
    border-radius: 5px;
    max-width: 500px;
    background-color: lightblue;
}
.card3{
    left: 0;
    bottom: 0;
    padding: 14px;
    margin: 45px auto;
    border: 3px solid #000000;
    border-radius: 5px;
    max-width: 500px;
    background-color: lightblue;
}
.card4{
    left: 0;
    bottom: 0;
    padding: 14px;
    margin: 45px auto;
    border: 3px solid #000000;
    border-radius: 5px;
    max-width: 500px;
    background-color: lightblue;
}
.card5{
    left: 0;
    bottom: 0;
    padding: 14px;
    margin: 45px auto;
    border: 3px solid #000000;
    border-radius: 5px;
    max-width: 500px;
    background-color: lightblue;
}
.cad{
    border: none;
    background: rgb(255, 0, 162);
    padding: 12px 30px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
}